.barraHerramientas {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(64.44, 208.45, 41, 0.66);
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    background: #D9D9D9; 
    border-radius: 9999px;
}

.herramientas ul li{
    list-style-type: none;
    font-weight: 600;
    color: #000000;
    display: inline;
    padding: 10px;
}

.herramientas a {
    text-decoration: none;
}

nav a:hover{
    color: #D9D9D9;
}